form {
    display:flex;
    flex-direction: column;
    width: 298px;      
}
.contato{
    
    
    height: auto;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-left: 174px;
    padding-top: 34px;
    display: flex;
    flex-direction: column;
    
    
}

.contactodiv p{
    padding: -250px;
    color: #ffffff;
    width: 90%;
}

.contato h2{
    
    width: 185px;
    height: 73px;
    text-align: left;
    font: 55px/73px Segoe UI;
    font-weight: 200;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
label{
    color: #ffffff;
}

input {
width: 398px;
height: 34px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
border-radius: 4px;
opacity: 1;
margin-bottom: 20px;


}

textarea {
    width: 398px;
    height: 133px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    margin-bottom: 20px;
}
button {
    
    width: 110px;
    height: 34px;
    background: #585858 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    color: #ffffff;
    align-items: center;
     margin-right:auto;
    margin-left:auto;    
}