*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
header{
    width: 100%;
    height: 70%; 
    overflow: hidden;
    /* padding: 25vh 0; */
    background: #5fb8c4;
    background-position: center;
    background-image:url() 
} 
#menu{
    background-color: #585858;
}

#menu ul{
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu ul li{
    display: inline;
}

#menu ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}

#menu-h ul li a:hover {
    background-color: rgb(24, 139, 233);
}

header .title{
    width: 100%;
    text-align: center;
    font-size: 5em;
    font-weight: 700;
    padding: 15px 0;
    color: #fff;
   /*  background:#0a0a0a; */
}

header figure{
    text-align:left;
    margin: 30px ;    
}

.About-me{
    width: 100%;
    position: relative;
    text-align: center;
    background-image: url(../img/Banner/bannerazul.jpg);
    padding-top: 150px;
    padding-bottom: 150px;
}
.About-me article {
    width: 60%;
    margin: auto;
    display:flex;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    font-weight: 700; 
    color: #585858;
    font-size: 20px;
}
.About-me h1 {
    color: #585858;
    font: 80px/80px Open Sans, sans-serif;
}
.img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 200px;   
}
.absolute{
    position: absolute;
    top: 120px;
    left:1050px;  
}
.title{
    color: #707070;
    font: 55px/73px Open Sans, sans-serif;
}
.redes {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 40px;
} 
.redes img{
    width: 20%;
    margin: 0px 20px;
}
.hobbies-skills {
    width: 85%;
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
}

.skills {
    width: 20%;
    padding: 30px;
    text-align: center;
    background:#FFF;
}

.skills .tecnologias{ 

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.skills .tecnologias img{
    width: 40%;
    margin: 0px 20px;
}
.hobbies{
    width: 20%;
    padding: 30px;
    text-align: center;
    background:#FFF;
}


.hobbies ul li{
    font-weight: 300;
    color: #00040e;
    text-align: left;
}

.formações{
    width: 100%;
    position: relative;
    text-align: center;
    padding: 20px 0;
    background: #5fb8c4;
    margin-top: 20px;
   
}

.formações h2{
    color: #fff;
    font: 55px/73px Open Sans, sans-serif;
}

.universidade{
    padding-left: 15px;
    padding-bottom: 34px;
    margin-top: -10px;
    width: 100%;
}
.universidade h5 {
    
    width: 109px;
    height: 31px;
    text-align: left;
    font:  13px/34px Segoe UI;
    font-weight: 600;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;    
}
.universidade h3 {
width: 844px;
height: 31px;
text-align: left;
font: 21px/34px Segoe UI;
font-weight: 700;
letter-spacing: 0px;
color: #ffffff;
opacity: 1;
}

.universidade h4 { 
    top: 1129px;
left: 582px;
width: 558px;
height: 31px;
text-align: left;
font: 13px/34px Segoe UI;
font-weight: 600;
letter-spacing: 0px;
color: #fff;
opacity: 1;
}

.formações hr {
width: 8px;
height: 85px;
background: #ffffff 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
margin-left: 300px;

}
.universidade img{
    width: 10%;
    margin: 0px 20px;
}
.cursos{
    margin-top: 20px;
    padding: 15px;
}

.cursos img{
    margin: 30px;
    border: 1px solid #ccc;
    justify-items: center;
}
.cursos img:hover {
    border: 2px solid #777;
}
.projetos {
    background: #F2F2F2 0% 0% no-repeat padding-box;
    height:auto;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
      
}
.projetos h2 {
    width: 800px;
    height: auto;
    text-align: center;
    font: 55px/73px Open Sans, sans-serif;
    font-weight: 200;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;   
}
.proyectos {
width: 280px;
height: auto;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 5px;
opacity: 1;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 20px;
}

.proyectos p {  
width: 220px;
height: 78px;
text-align: left;
font: Regular 13px/17px;
letter-spacing: 0px;
color: #707070;
opacity: 1;


}
.proyectos h2 {
    width: 240px;
    height: 28px;
    text-align: left;
    font: Bold 21px/28px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    font-size: 18px;
    line-height: 1.0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;   
}
article {
    width:630px;
    height: auto;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    padding-bottom: 20px;   
}
.imgproyecto{
padding-top: 10px;  
width: 260px;
height: 210px;
}
form {
    display:flex;
    flex-direction: column;
    width: 298px;      
}
.contato{ 
    height: auto;
    background: #5fb8c4 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-left: 310px;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;   
}
.contactodiv p{
    padding: -250px;
    color: #ffffff;
    width: 90%;
}
.contato h2{
    width: 800px;
    height: auto;
    text-align: center;
    font: 55px/73px Open Sans, sans-serif;
    font-weight: 200;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1; 
    padding-left:120px;
}
label{
    color: #ffffff;
}
form input {
width: 398px;
height: 34px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
border-radius: 4px;
opacity: 1;
margin-bottom: 20px;
}
textarea {
    width: 398px;
    height: 133px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    margin-bottom: 20px;
}
form button {
    width: 110px;
    height: 34px;
    background: black 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    color: #ffffff;
    align-items: center;
    margin-right:auto;
    margin-left:auto;    
}
.button {
    width: 100px;
    height: 34px;
    background: #5fb8c4 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    color: #ffffff;
    align-items: center;
   
}
.redes{
    padding-left: 0px;
}
.redes img {
    width: 41px;
    height: 40px; 
    margin: 10px 0px;
    border-radius: 20px;
    /*background-image: #ffffff;
    justify-content: center;
    object-fit: cover; */
}
.contenedor{
    display: flex;  
}
footer {
    padding-top:20px;
    padding-bottom: 20px;
    text-align: center;
    background: #fff 0% 0% no-repeat padding-box;
    color: #585858;
    font: 12px Open Sans, sans-serif;
}


