section.formcontato {
    background-color: #EAF2FD;
    padding: 16px;
}

section.formcontato div.esquerda img.contact-img {
    display: none;
}

section.formcontato div.contact div.contact-text h3.contact-subtext {
    font-weight: 500;
    font-size: 16px;
    padding: 10px;
    margin: 0;
}

section.formcontato div.contact div.contact-text h2.contact-title {
    font-weight: 700;
    font-size: 22px;
    padding: 10px;

}

section.formcontato form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin: 0;
}

section.formcontato form input {
    border: transparent;
    flex-grow: 1;
    margin: 10px 0px;
    height: 56px;
    width: 80vw;
}

form input::placeholder {
    color: #464646;
    font-family: 'Raleway';
}

section.formcontato form input:focus {
    border-bottom: solid 2px #2A7AE4;
}

section.formcontato form textarea {
    border: transparent;
    flex-grow: 1;
    margin: 10px 0px;
    height: 96px;
    width: 80vw;
}

section.formcontato form textarea:focus {
    border-bottom: solid 2px #2A7AE4;
}

textarea::placeholder {
    color: #464646;
    font-family: 'Raleway'
}


form.form button {
    border: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    background-color: #2A7AE4;
    color: white;
    margin: 32px 0;
}