.hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.hobbies-titulo {
    font-size: var(--font-size-titulo);
}

.hobbies-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 700px;
    width: 100%;
    gap: 25px;
}

.hobbies-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    gap: 15px;
    padding: 12px;
    width: 180px;
    height: 150px;
    background-color: #fbfbfb;
}

@media (min-width: 1200px) { 
    .hobbies-container {
        max-width: none;
    }
}