section.hobbies-section div.hobbies-line {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-between;
}

section.hobbies-section div.hobbies-line div.hobbies-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    background-color: #fbfbfb;
    margin: 15px 0 22px 0;
    width: 156px;
    height: 118px;
}

section.hobbies-section div.hobbies-line div.hobbies-box ul {
    margin: 0;
    padding: 0;

}