section.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    height: 10vh;
}

section header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 16px;
    color: #464646;
}