* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

textarea,
textarea:focus,
input,
input:focus,
select,
select:focus {
    border: none;
    outline: 0;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    cursor: pointer;
}

