@media (min-width: 1000px) {

    /*main*/

    .section-title {
        font-size: 32px;
    }

    /*Menu*/

    section.menu nav ul.menu-list {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        width: 600px;
    }

    section.title div.title-div div.title-container h2 {
        font-size: 52px;
        font-weight: 700;
        line-height: 50px;
    }

    section.menu nav li.menu-list-item-c {
        display: none;
    }

    div.title-container {
        width: 751px;

    }

    section.title img.profile {
        width: 368px;

    }

    section.title div.title-div div.title-container ul {
        display: flex;
        margin-left: -65px;
        align-items: center;
        padding: 0px;
        font-size: 16px;
    }

    section.title div.title-div div.title-container h3 {
        font-size: 17px;
        line-height: 23px;
    }

    /*Sessão sobre*/

    section.about {
        padding: 62px 50px;
    }

    div.about-container {

        height: 255px;
    }

    /*Skills*/

    section.skills div.skills-line {
        width: 100%;

    }

    section.skills div.skills-line div.skills-box {
        margin: 22px 15px 22px 0px;
        width: 108px;
        height: 118px;
    }

    /*Hobbies*/

    section.hobbies-section div.hobbies-line {
        width: 100%;
    }

    section.hobbies-section div.hobbies-line div.hobbies-box {
        margin: 22px 15px 22px 0px;
        width: 108px;
        height: 108px;
    }

    /*Formação Acadêmica*/

    section.academic div.courses-box {
        width: 380px;

    }

    section.academic div.courses ul li.course-img img {
        width: 70%;
    }

    section.academic div.courses ul li.course-img {
        padding: 30px 30px;
    }

    section.academic {
        margin-top: 82px;
    }

    /*Experiência Profissional*/

    section.experience div.experiencia-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    section.experience div.experiencia-box:nth-child(2) {
        margin-top: 50px;
    }

    section.experience div.experiencia-box:nth-child(3) {
        flex-direction: row-reverse;
    }

    section.experience div.experiencia-box:nth-child(5) {
        flex-direction: row-reverse;
    }

    section.experience div.info-container {
        margin: 0 5%;
    }

    section.experience div.experiencia-box img {
        width: 50%;
    }

    /*Contato*/

    section.formcontato div.contact {
        display: flex;
        justify-content: center;
    }

    section.formcontato div.contact-text {
        display: flex;
        flex-direction: column;
        margin-left: 2%;
        margin-top: -2%;
    }

    section.formcontato div.esquerda img.contact-img {
        display: block;
        width: 464px;
        height: 570px;
    }

    section.formcontato form input {
        width: 100%;
    }

    section.formcontato form textarea {
        width: 100%;
    }

    /*Footer*/

    section.footer div.rodape {
        line-height: 10px;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        padding: 1%;
    }
}